<div class="container">
  <% if @list.photo.key %>
    <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fit %>
  <% end %>
  <h1>
    <%= @list.name %>
  </h1>
    <i class="fa-solid fa-arrow-left"></i>
    <%= link_to "Return to the lists", lists_path %>
    <div class="d-flex">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="card mb-3" style="width: 15rem">
          <%= image_tag(bookmark.movie.poster_url) %>
          <em><%= bookmark.movie.title %></em>
          <%= bookmark.comment %>
          <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"} do  %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      <% end %>
    </div>

  <br/><br/><br/>

  <h4>Add a bookmark</h4>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.button :submit %>
  <% end %>

  <i class="fa-solid fa-arrow-left"></i>
  <%= link_to "Return to the lists", lists_path %>
</div>
